Django
django-browser-reload
django-compressor
django-debug-toolbar
django-filter
django-pwa
django-rosetta
django-tailwind
djangorestframework
gunicorn
Markdown
numpy
pandas
pika
Pillow
pipenv
psycopg2-binary
python-dotenv
python-gettext
pytz
PyYAML
requests